.todo {
  &-list {
    margin: 0 10px 10px 0;
  }

  &-name {
    min-width: 240px;
  }
}

.btn-edit-save {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.list {
  &-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    border: solid #ccc 1px;
    border-radius: 4px;
    align-items: center;
  }

  &-block {
    min-width: 500px;
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
}

.task-box-li {
  display: flex;
  align-items: center;
  min-height: 50px;
  border-bottom: solid 1px #ccc;
  font-size: 14px;

  &:last-child {
    border: none;
  }
}




