@import "src/app/components/main-content/drag-task.scss";

.todo {
  &-list {
    width: 32%;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;

    &:hover {
      box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
    }
  }

  &-name {
    max-width: 150px;

    &-input {
      max-width: 100px;
    }
  }
}

.listSelected {
  box-shadow: 0 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.btn-edit-save {
  padding: 10px 0 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.list {
  &-info-wrapper {
    display: flex;
    justify-content: space-around;
    border: solid #ccc 1px;
    border-radius: 5px 5px 0 0;
    align-items: center;
  }

  &-block {
    border: solid 1px #ccc;
    border-bottom: none;
    transition: max-height .3s ease;
    overflow: hidden;

    &.collapse {
      max-height: 500px;
    }

    &.expand {
      max-height: 0;
    }
  }

  &-date-input {
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }

  &-btn-block-bottom {
    display: flex;
    align-items: center;
    border: solid #ccc 1px;
    border-radius: 0 0 5px 5px;
    min-height: 30px;
    border-top: none;
  }

  &-btn-block-top {
    display: flex;
    justify-content: space-evenly;
    padding: 3px 0;
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    align-items: baseline;
  }
}

.task-box-li {
  display: flex;
  align-items: center;
  min-height: 71px;
  border-bottom: solid 1px #ccc;
  gap: 10px;
}

app-task, app-list-btn {
  flex-grow: 1;
}

.underlineHover {
  color: black;
}
