<div (click)="selectClickList(list.listNumber, list)"
     *ngFor="let list of lists$ | async"
     [ngClass]="{'listSelected': list.isListSelected}"
     class="todo-list">
  <div class="list-info-wrapper">
    <!--    шапка листа-->
    <ng-container *ngIf="!list.isListEdit">
      <p class="todo-number">{{ list.listNumber }}</p>
      <button (click)="editListInfo(list)" class="btn-edit-save">
        <fa-icon [icon]="editIcon"></fa-icon>
      </button>
      <p class="todo-name"> {{ list.listName }}</p>
      <p class="todo-date">Deadline {{ list.listDeadLine | date:'dd.MM.yyyy' }}</p>
      <p>Completed: {{ getCompletedTasksPercent(list) | number: '1.1-1'}}%</p>
    </ng-container>

    <!--    Редактирование шапки листа-->
    <ng-container *ngIf="list.isListEdit">
      <p class="todo-number">{{ list.listNumber }}</p>
      <button (click)="saveListInfo(list)" class="btn-edit-save">
        <fa-icon [icon]="saveIcon"></fa-icon>
      </button>
      <input
        [(ngModel)]="list.listName"
        [autofocus]="true"
        class="global-input todo-name-input"
        maxlength="10"
        name="todoName">
      <form [formGroup]="dateListForm" class="list-input-date-form">
        Deadline
        <input
          class="global-input list-date-input"
          formControlName="presentDate"
          type="date">
      </form>
      <p>Completed: {{ getCompletedTasksPercent(list) | number: '1.1-1'}}%</p>
    </ng-container>
  </div>
  <!--  свернуть развернуть список-->
  <div class="list-btn-block-top">
    <button
      (click)="collapseExpandList(list)"
      class="global-btn underlineHover">{{ list.isListExpand ? 'Expand list' : 'Collapse list' }}
    </button>
    <p>Number of tasks {{ list.tasksArr.length }}</p>
  </div>
  <!--  задачи списка-->
  <ul (cdkDropListDropped)="dropTask($event, list)"
      [ngClass]="{'collapse': !list.isListExpand, 'expand': list.isListExpand}"
      cdkDropList
      class="list-block drag-drop-list task-boundary">
    <li *ngFor="let task of list.tasksArr; let i = index"
        cdkDrag
        cdkDragBoundary=".task-boundary"
        cdkDragLockAxis="y"
        class="task-box-li li-drag-box">
      <app-task (taskRemove)="removeTask($event)"
                [taskIndex]="i + 1"
                [task]="task"></app-task>
      <fa-icon [icon]="dragArrowsV" cdkDragHandle class="drag-icon"></fa-icon>
    </li>
  </ul>
  <div class="list-btn-block-bottom">
    <app-list-btn [dateOfCreation]="list.listDate" [listNumber]="list.listNumber"></app-list-btn>
  </div>
</div>

