.task {
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;

  &-el {
    margin-right: 5px;

    &:first-child {
      margin-left: 5px;
    }

    &:last-child {
      margin-right: 2px;
    }
  }

  &-description {
    width: 100px;
    overflow: hidden;
    word-wrap: break-word;
    padding: 10px 0 10px 0;
    resize: none;
  }

  &-input {
    max-width: 50px;
  }

  &-time {
    color: #999;
  }

  &.completed {
    text-decoration: line-through;
  }
}

.delete-btn {
  font-size: 17px;
}

.btn-edit-save {
  border: none;
  background-color: transparent;
}

.drag-icon {
  font-size: 15px;
}
