<div class="btn-block">
  <input (input)="findInput()"
         [(ngModel)]="findValue"
         class="global-input btn-block-elem"
         placeholder="Find a list by name" type="text">
  <button (click)="addNewToDoList()" class="global-btn btn-block-elem">Add ToDo list
  </button>

  <button (click)="duplicateListNumber(selectedDupListNumber)"
          [disabled]="!selectedDupListNumber"
          class="btn-disable btn-block-elem global-btn ">Duplicate list number:
  </button>
  <input [(ngModel)]="selectedDupListNumber"
         class="global-input btn-block-elem"
         type="number">
  <button (click)="deleteListNumber(selectedDelListNumber)"
          [disabled]="!selectedDelListNumber"
          class="btn-disable btn-block-elem global-btn">Delete list number:
  </button>
  <input [(ngModel)]="selectedDelListNumber"
         class="global-input  btn-block-elem"
         type="number">
  <button (click)="deleteAllList()"
          class="global-btn btn-block-elem">Delete all list's
  </button>

</div>
