<div class="btn-block">
  <button (click)="addNewToDoList()" class="global-btn btn-add-list">Add ToDo list
  </button>
  <input (input)="findListInput()"
         [(ngModel)]="findValue"
         class="global-input input-find"
         placeholder="Find a list by name" type="text">
  <div class="choice-list-block">
    <button (click)="duplicateListNumber(selectedDupListNumber)"
            [disabled]="!selectedDupListNumber"
            class="btn-disable global-btn btn-duplicate ">Duplicate list:
    </button>
    <input [(ngModel)]="selectedDupListNumber"
           class="global-input input-duplicate"
           placeholder="num"
           type="number">
    <div *ngIf="dupListNotFound" class="list-not-found">
      List not found!
    </div>
  </div>
  <div class="choice-list-block">
    <button (click)="deleteListNumber(selectedDelListNumber)"
            [disabled]="!selectedDelListNumber"
            class="btn-disable global-btn btn-delete">Delete list:
    </button>
    <input [(ngModel)]="selectedDelListNumber"
           class="global-input input-delete"
           placeholder="num"
           type="number">
    <div *ngIf="delListNotFound" class="list-not-found">
      List not found!
    </div>
  </div>
  <button (click)="deleteAllList()"
          class="global-btn">Delete all list's
  </button>

</div>
