.btn {
  &-block {
    display: flex;
    flex-direction: column;

    button {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      transition: background-color 0.1s linear;
    }
  }

  &-disable:disabled {
    cursor: not-allowed;
  }

  &-add-list {
    margin-bottom: 10px;
  }
}

.choice-list-block {
  display: inline-block;
  margin-bottom: 10px;
}

.input {
  &-duplicate, &-delete {
    max-width: 50px;
  }

  &-find {
    margin-bottom: 10px;
  }
}
