<div (click)="selectClickList(list.listNumber, list)"
     *ngFor="let list of lists$ | async"
     [ngClass]="{'listSelected': list.isListSelected}"
     class="todo-list">
  <div class="list-info-wrapper">

    <ng-container *ngIf="!list.isListEdit">
      <p class="todo-number">{{ list.listNumber }}</p>
      <button (click)="editListInfo(list)" class="btn-edit-save">
        <fa-icon [icon]="editIcon"></fa-icon>
      </button>
      <p class="todo-name"> {{ list.listName }}</p>
      <p class="todo-date">{{ list.listDate | date:'dd.MM.yyyy' }}</p>
      <fa-icon [icon]="dragIcon" class="drag-icon"></fa-icon>
    </ng-container>
    <ng-container *ngIf="list.isListEdit">
      <p class="todo-number">{{ list.listNumber }}</p>
      <button (click)="saveListInfo(list)" class="btn-edit-save">
        <fa-icon [icon]="saveIcon"></fa-icon>
      </button>
      <input
        [(ngModel)]="list.listName"
        [autofocus]="true"
        class="global-input todo-name-input"
        maxlength="10"
        name="todoName">
      <form [formGroup]="dateListForm" class="list-input-date-form">
        <input
          class="global-input list-date-input"
          formControlName="presentDate"
          type="date">
      </form>

      <fa-icon [icon]="dragIcon" class="drag-icon"></fa-icon>
    </ng-container>
  </div>
  <div class="collapse-expand-list">
    <button
      (click)="collapseExpandList(list)"
      class="global-btn">{{ list.isListExpand ? 'Expand list' : 'Collapse list' }}
    </button>
    <p>Number of tasks {{ numberOfTask }}</p>
  </div>
  <ul *ngIf="!list.isListExpand" class="list-block">
    <li
      *ngFor="let task of list.tasksArr; let i = index"
      class="task-box-li">
      <app-task (taskRemove)="removeTask($event, list.listNumber)" [taskIndex]="i + 1" [task]="task"></app-task>
    </li>
  </ul>
  <div class="list-btn-block">
    <app-list-btn [listNumber]="list.listNumber"></app-list-btn>
  </div>
</div>

