<form (ngSubmit)="login()" class="sign-in-form">
  <p class="sign-in sign-in-element">Sign In on MyToDo </p>
  <input [(ngModel)]="email"
         autocomplete="email"
         class="email sign-in-element global-input"
         name="email"
         placeholder="Enter the email"
         type="email">
  <input [(ngModel)]="password"
         autocomplete="password"
         class="password sign-in-element global-input"
         name="password"
         placeholder="Enter the password"
         type="password">
  <div *ngIf="errorAuth" class="error-auth">
    {{ errorAuth }}
  </div>
  <div class="link-button-block">
    <a class="sign-up-link global-btn" routerLink="/sign-up">Sign Up</a>
    <button [disabled]="!email || !password"
            class="global-btn login-btn">Login
    </button>
  </div>
</form>



