<div class="register-wrapper">
  <form (ngSubmit)="login()" id="formContent">
    <p class="sign-in">Sign In on MyToDo </p>
    <a class="active sign-link" routerLink="/sign-in"> Sign In </a>
    <a class="underlineHover sign-link" routerLink="/sign-up">Sign Up </a>
    <input [(ngModel)]="email"
           autocomplete="email"
           class="input-login-form"
           name="email"
           placeholder="Email"
           type="email">
    <div class="password-block">
      <input [(ngModel)]="password"
             [type]="showHidePassword"
             autocomplete="password"
             class="input-login-form"
             name="password"
             placeholder="password">
      <button (click)="toggleShowHidePassword()" class="show-hide-password" type="button">
        <fa-icon [icon]="lockIcon"></fa-icon>
      </button>
    </div>
    <input [disabled]="!email || !password"
           class="input-login"
           type="submit"
           value="Log In">
    <div *ngIf="errorAuth"
         class="error-auth">{{ errorAuth }}</div>
    <div id="formFooter">
      <a class="underlineHover forgot-password-link" href="#">Forgot Password?</a>
    </div>
  </form>
</div>

