.input-task-block {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.label {
  &-time, &-number {
    margin-right: 5px;
    font-size: 16pt;
  }
}

.input {
  &-task {
    flex-grow: 1;
  }

  &-task, &-time, &-number {
    margin-right: 5px;
    transition: border 0.3s ease-out;
    border: 1px solid white;

    &:focus {
      border: 1px solid #1dbe1d;
      box-shadow: 0 0 6px 1px rgba(254, 255, 255, 1);
    }

    &:hover {
      box-shadow: 0 0 6px 1px rgba(254, 255, 255, 1);
    }
  }
}

.input-number {
  max-width: 40px;
}

.global-input {
  border: none;
}

.invalid {
  border-radius: 4px;
  transition: all 0.3s ease-out;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid #ff0000;
    box-shadow: 0 0 6px 1px rgba(254, 255, 255, 1);
  }
}

.btn-add-task {
  font-size: 16px;

  &:disabled {
    color: rgba(164, 159, 159, 0.6);
    cursor: not-allowed;

    &:after {
      transform: scaleX(0);
    }
  }
}

#time-input {
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  max-width: 42px;
}

.underlineHover {
  color: #ffffff;
}
