.btn {
  &-block {
    display: flex;
    flex-direction: column;
    min-width: 144px;
    padding-left: 20px;

    button {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      transition: background-color 0.1s linear;
    }
  }

  &-disable:disabled {
    cursor: not-allowed;
    color: rgba(121, 119, 119, 0.53);

    &:after {
      transform: scaleX(0);
    }
  }

  &-delete-all {
    max-width: 100px;
  }
}

.choice-list-block {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 3px;
}

.input {
  &-duplicate, &-delete {
    max-width: 50px;
  }

  &-find {
    margin-bottom: 10px;
    max-width: 100px;
  }
}

.underlineHover {
  color: black;
}
