<div class="btn-block">
<input (input)="findListInput()"
       [(ngModel)]="findList"
       class="global-input input-find"
       placeholder="Find a list" type="text">
  <div class="choice-list-block">
    <button (click)="duplicateListNumber(selectedDupListNumber)"
            [disabled]="!selectedDupListNumber"
            class="btn-disable global-btn underlineHover">Duplicate list:
    </button>
    <input [(ngModel)]="selectedDupListNumber"
           class="global-input input-duplicate"
           min="0"
           placeholder="num"
           type="number">
    <div *ngIf="dupListNotFound" class="list-not-found">
      List not found!
    </div>
  </div>
  <div class="choice-list-block">
    <button (click)="deleteListNumber(selectedDelListNumber)"
            [disabled]="!selectedDelListNumber"
            class="btn-disable global-btn btn-delete underlineHover">Delete list:
    </button>
    <input [(ngModel)]="selectedDelListNumber"
           class="global-input input-delete"
           min="0"
           placeholder="num"
           type="number">
    <div *ngIf="delListNotFound" class="list-not-found">
      List not found!
    </div>
  </div>
  <div class="choice-list-block">
    <button (click)="clearListNumber(selectedClearListNumber)"
            [disabled]="!selectedClearListNumber"
            class="btn-disable global-btn btn-delete underlineHover">Clear list:
    </button>
    <input [(ngModel)]="selectedClearListNumber"
           class="global-input input-delete"
           min="0"
           placeholder="num"
           type="number">
    <div *ngIf="clearListNotFound" class="list-not-found">
      List not found!
    </div>
  </div>
  <button (click)="deleteAllList()"
          class="global-btn btn-delete-all underlineHover">Delete all list's
  </button>

</div>
