.home-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

.left-section, .right-section {
  flex: 1;
  text-align: center;
}

.home-page-link {
  display: block;
  margin: 0 250px 10px;
  background-color: rgba(157, 157, 157, 0.12);
  border-radius: 5px;
  color: rgb(88, 86, 86);
  font-size: 20px;
  padding: 10px 20px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:active {
    background-color: #028982;
  }

  &:hover {
    background-color: #10f4eb;
    color: #1B365C;
  }

}
