@import 'auth';

.sign-in {
  font-size: 30px;
  margin-bottom: 20px;
}

.input-login {
  margin: 5px 20px 15px;
}

.error-auth {
  margin-bottom: 10px;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 20px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  margin: 0 30px 0 30px;
}
