div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-task {
  flex-grow: 1;
  margin-right: 5px;
}

.label {
  &-time, &-number {
    margin-right: 5px;
    font-size: 16pt;
  }
}

#time-input, #number-input {
  margin-right: 5px;
}

.add-task {
  font-size: 16px;

  &:disabled {
    cursor: not-allowed;
  }
}

.invalid {
  box-shadow: 0 1px 0 rgb(254, 0, 0);
  transition: box-shadow 0.3s ease;
  border-radius: 3px;
}
