<div class="list-btn-wrapper">
  <button (click)="dupList()" class="global-btn underlineHover ">Duplicate</button>
  <button (click)="delList()" class="global-btn underlineHover">Delete</button>
  <button (click)="clearList()" class="global-btn underlineHover">Clear the list</button>
  <p>Date of creation {{ dateOfCreation | date:'dd.MM.yyyy' }}</p>
  <div class="favorite-list-block">
    <fa-icon [icon]="starIcon">
      <input [id]="'favorite-list-' + listNumber" type="checkbox">
    </fa-icon>
  </div>
</div>
