<div class="sign-in-block">
  <p class="sign-in sign-in-element">Sign In on MyToDo</p>
  <input [(ngModel)]="email" class="email sign-in-element" placeholder="Enter the email (1)" type="email">
  <input [(ngModel)]="password" class="password sign-in-element" placeholder="Enter the password (1)" type="password">
  <div class="link-button-block">
    <a class="auth sign-in-element" routerLink="/sign-up">Sign Up</a>
    <button (click)="onLoginClick(email, password)"
            [disabled]="!email || !password"
            class="login-btn auth sign-in-element all-btn">Login</button>
  </div>
</div>

