@import '../auth.scss';

.sign-up {
  font-size: 50px;

  &-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-element:not(.auth) {
    margin-bottom: 10px;
    padding: 20px;
    max-width: 500px;
  }
}

.error-border {
  box-shadow: 0 0 5px rgb(254, 0, 0);
  transition: box-shadow 0.3s ease;
  border-radius: 3px;
}

.success {
  &-reg {
    font-size: 20pt;
  }

  &-element {
    margin-bottom: 10px;
  }

  &-sign-in {
    margin: 0;
  }
}

.btn-resending {
  padding: 10px;
}



