<div class="register-wrapper">
  <form (ngSubmit)="signUp()" *ngIf="!successReg" [formGroup]="loginForm" id="formContent">
    <p class="sign-up">Sign Up on MyToDo</p>
    <a class="underlineHover sign-link"
       routerLink="/sign-in">Sign In</a>
    <a class="active sign-link"
       routerLink="/sign-up">Sign Up</a>
    <input
      autocomplete="email"
      class="input-login-form"
      formControlName="email"
      id="email"
      name="login"
      placeholder="Email"
      type="email">
    <div class="password-block">
      <input
        [type]="showHidePassword"
        autocomplete="new-password"
        class="input-login-form"
        formControlName="password"
        id="password"
        name="login"
        placeholder="Password">
      <button (click)="toggleShowHidePassword()" class="show-hide-password" type="button">
        <fa-icon [icon]="lockIcon"></fa-icon>
      </button>
    </div>
    <div class="password-block">
      <input
        [class.error-border]="loginForm.errors?.['passwordMatchError']"
        [type]="showHidePassword"
        autocomplete="new-password"
        class="input-login-form"
        formControlName="repeatPassword"
        id="password-repeat"
        name="login"
        placeholder="Repeat the password">
      <button (click)="toggleShowHidePassword()" class="show-hide-password" type="button">
        <fa-icon [icon]="lockIcon"></fa-icon>
      </button>
    </div>
    <input
      [disabled]="loginForm.invalid"
      class="input-register"
      type="submit"
      value="register">
  </form>
</div>

<div *ngIf="successReg" class="success-wrapper">
  <div class="success-wrapper-content">
    <h2 class="success-wrapper-element">Success registration</h2>
    <p class="success-wrapper-element">Check your mailbox</p>
    <p class="success-wrapper-element">We’ve sent you a verification link to the email
                                       address {{email}}</p>
    <button class="global-btn underlineHover btn-resending">Resending</button>
    <a class="sign-link underlineHover" routerLink="/sign-in">Sign In</a>
  </div>
</div>

