<form (ngSubmit)="signUp()" *ngIf="!successReg" [formGroup]="loginForm" class="sign-up-block">
  <p class="sign-up sign-up-element">Sign Up on MyToDo</p>
  <input
    autocomplete="email"
    class="sign-up-email sign-up-element global-input"
    formControlName="email"
    name="email"
    placeholder="Enter email"
    type="email">
  <input
    autocomplete="new-password"
    class="sign-up-password sign-up-element global-input"
    formControlName="password"
    name="password"
    placeholder="Enter a password"
    type="password">
  <input [class.error-border]="loginForm.errors?.['passwordMatchError']"
         autocomplete="new-password"
         class="sign-up-repeat-password sign-up-element global-input"
         formControlName="repeatPassword"
         name="repeatPassword"
         placeholder="Repeat the password"
         type="password">
  <div class="link-button-block">
    <a class="auth global-btn"
       routerLink="/sign-in">
      Sign In
    </a>
    <button [disabled]="loginForm.invalid"
            class="auth global-btn confirm-btn">Confirm
    </button>
  </div>
</form>

<div *ngIf="successReg" class="sign-up-block success-reg">
  <h2 class="success-element">Success registration</h2>
  <p class="success-element">Check your mailbox</p>
  <p class="success-element">We’ve sent you a verification link to the email address {{email}}</p>
  <button class="success-element btn-resending global-btn">Resending</button>
  <a class="auth global-btn success-sign-in success-element" routerLink="/sign-in">Sign In</a>
</div>

