<div class="list-btn-wrapper">
  <span class="date-of-creation">Date of creation: <b>{{ dateOfCreation | date:'dd.MM.yyyy' }}</b></span>
  <p class="number-of-tasks">Number of tasks {{ numberOfTasks }}</p>
    <div class="action-block">
      <button (click)="toggleDropdown()" class="global-btn toggle-dropdown">
        <fa-icon [icon]="listIcon"></fa-icon>
      </button>
      <div
        [class.open]="isDropdownOpen"
        class="dropdown-btn-block">
        <button (click)="dupList()" class="global-btn underlineHover">Duplicate</button>
        <button (click)="clearList()" class="global-btn underlineHover">Clear</button>
        <button (click)="delList()" class="global-btn underlineHover">Delete</button>
      </div>
    </div>
    <button (click)="toggleStar()" class="add-to-favorite global-btn">
      <svg [class.active]="isStarActive" class="c-icon inactive">
        <use xlink:href="#star"></use>
      </svg>
      <svg height="0" width="0" xmlns="http://www.w3.org/2000/svg">
        <symbol id="star" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M31.547 12a.848.848 0 00-.677-.577l-9.427-1.376-4.224-8.532a.847.847 0 00-1.516 0l-4.218 8.534-9.427 1.355a.847.847 0 00-.467 1.467l6.823 6.664-1.612 9.375a.847.847 0 001.23.893l8.428-4.434 8.432 4.432a.847.847 0 001.229-.894l-1.615-9.373 6.822-6.665a.845.845 0 00.214-.869z"/>
        </symbol>
      </svg>
    </button>
</div>
