.task {
  display: flex;
  border-radius: 5px;
  align-items: baseline;
  font-size: 20px;

  &-description {
    width: 236px;
    overflow: hidden;
    word-wrap: break-word;
  }

  &-number {
    font-weight: bold;
  }

  &-time {
    color: #999;
  }

  &.completed {
    text-decoration: line-through;
  }
}

  .save-icon, .edit-icon {
    cursor: pointer;
  }

