.task {
  display: flex;
  border-radius: 5px;
  align-items: baseline;

  &.completed {
    text-decoration: line-through;
  }

  input[type="checkbox"],
  .id,
  .description,
  .time {
    padding: 10px;
  }

  input,
  .edit-icon,
  .delete-btn,
  .id {
    margin-right: 9px;
  }

  input[type="text"] {
    width: 200px;
    padding: 10px;
  }

  input[type="time"] {
    padding: 7px 5px;
    margin-right: 5px;
  }

  .id,
  .description,
  .time {
    font-size: 20px;
  }

  .description {
    width: 236px;
    overflow: hidden;
    word-wrap: break-word;
  }

  .id {
    font-weight: bold;
  }

  .time {
    color: #999;
  }

  .save-icon, .edit-icon {
    cursor: pointer;
  }

}
