<ng-container *ngIf="!isTaskEditing">
  <div [ngClass]="{'completed': task.completed}" class="task">
    <input (click)="completeTask(task)" type="checkbox">
    <p class="id">{{taskIndex}}</p>
    <fa-icon (click)="editTaskInfo()" [icon]="editIcon" class="edit-icon"></fa-icon>
    <p class="description">{{task.taskDescription}}</p>
    <p class="time">{{task.taskTime}} </p>
    <button (click)="removeTask(task)" class="delete-btn">Delete</button>
    <fa-icon [icon]="dragArrowsV"></fa-icon>

  </div>
</ng-container>

<ng-container *ngIf="isTaskEditing">
  <div [ngClass]="{'completed': task.completed}" class="task">
    <input (click)="completeTask(task)" type="checkbox">
    <p class="id">{{taskIndex}}</p>
    <fa-icon (click)="editTaskInfo()" [icon]="saveIcon" class="edit-icon"></fa-icon>
    <input [(ngModel)]="task.taskDescription" type="text">
    <input [(ngModel)]="task.taskTime" type="time">
    <button (click)="removeTask(task)" class="delete-btn">Delete</button>
    <fa-icon [icon]="dragArrowsV"></fa-icon>
  </div>
</ng-container>
