.task {
  display: flex;
  border-radius: 5px;
  align-items: center;
  font-size: 20px;
  width: 500px;
  justify-content: space-around;

  &-description {
    width: 236px;
    overflow: hidden;
    word-wrap: break-word;
    padding: 10px 0 10px 0;
  }

  &-number {
    font-weight: bold;
  }

  &-time {
    color: #999;
  }

  &.completed {
    text-decoration: line-through;
  }
}

.btn-edit-save {
  border: none;
  background-color: transparent;
}


