<div *ngIf="!task.taskEdit" [class.completed]="task.taskCompleted" class="task">
  <input (click)="completeTask(task)" type="checkbox">
  <p class="task-number">{{ taskIndex }}</p>
  <button (click)="editTaskInfo(task)" class="btn-edit-save">
    <fa-icon [icon]="editIcon"></fa-icon>
  </button>
  <p class="task-description">{{ task.taskDescription }}</p>
  <p class="task-time">{{ task.taskTime }} </p>
  <button (click)="removeTask(task)" class="delete-btn global-btn">Delete</button>
  <fa-icon [icon]="dragArrowsV"></fa-icon>
</div>

<div *ngIf="task.taskEdit" [class.completed]="task.taskCompleted" class="task">
  <input (click)="completeTask(task)" type="checkbox">
  <p class="id">{{ taskIndex }}</p>
  <button class="btn-edit-save">
    <fa-icon (click)="saveTaskInfo(task)" [icon]="saveIcon"></fa-icon>
  </button>
  <input [(ngModel)]="task.taskDescription" class="global-input" type="text">
  <input [(ngModel)]="task.taskTime" class="global-input" type="time">
  <button (click)="removeTask(task)" class="delete-btn global-btn">Delete</button>
  <fa-icon [icon]="dragArrowsV"></fa-icon>
</div>
