@import '../auth.scss';

.sign-up {
  font-size: 30px;
  margin-bottom: 20px;
}

.error-border {
  border: 2px solid red;
}

.success-wrapper {
  display: flex;
  justify-content: center;

  &-content {
    border-radius: 10px;
    background: #fff;
    padding: 30px;
    max-width: 450px;
    position: relative;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, .3);
    text-align: center;
  }

  &-element {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 23px;
    margin-bottom: 30px;
  }
}

.btn-resending {
  font-size: 16px;
  text-transform: uppercase;
}

.input-register {
  margin: 5px 20px 30px;
}

