<div class="app" id="app">
  <ng-container *ngIf="isLogin(); else loginTemplate">
    <div class="profile-block">
      <header>
        <div class="choice-workspace-button">
          <a class="todo-page-link" routerLink="/my-todo" routerLinkActive="active-header-link">MY TODO</a>
          <a class="todo-page-link" routerLink="/work-todo" routerLinkActive="active-header-link">WORK TODO</a>
        </div>
        <button (click)="doLogOut()" class="log-out global-btn underlineHover">
          Log Out
        </button>
      </header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <div>
          <p>some information</p>
        </div>
      </footer>
    </div>
  </ng-container>
  <ng-template #loginTemplate>
    <router-outlet></router-outlet>
  </ng-template>
</div>

