.app {
  min-height: 100%;
}

main {
  padding: 100px 1rem 2rem;
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  color: #f0e7e7;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  background-color: #1B365C;
  z-index: 1;
}

.underlineHover {
  color: #aba9a9;

  &:hover {
    color: #ffffff;
  }
}

.profile-block {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

footer {
  background-color: #1B365C;
  color: #f0e7e7;
  padding: 20px;
  text-align: center;
}

.title {
  padding-left: 20px;
  margin-right: 10px;
}

.log-out {
  padding-right: 20px;
}

.todo-page-link {
  padding: 30px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  transition: .1s ease-in-out;

  &:hover {
    background-color: #305083;
  }

  &:active {
    transform: scale(0.9);
    opacity: 0.8;
  }
}

.active-header-link {
  background-color: #244c87;
}

@media (max-width: 400px) {

  main {
    padding: 60px 1rem 2rem;
  }
  header {
    height: 50px;
  }
  .todo-page-link {
    padding: 15px;
  }
}
