<div class="app choice-list-block" id="app">
  <ng-container *ngIf="checkPath">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-container *ngIf="!checkPath">
    <div class="profile-block">
      <header>
        <div class="choice-workspace-button">
          <a class="work-todo-link" routerLink="/my-todo">MY TODO</a>
          <a class="work-todo-link" routerLink="/work-todo">WORK TODO</a>
        </div>
        <button (click)="doLogOut()" class="log-out global-btn underlineHover">
          Log Out
        </button>
      </header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <footer>
        <div>
          <p>some information</p>
        </div>
      </footer>
    </div>
  </ng-container>
</div>

