.auth {
  background-color: rgba(157, 157, 157, 0.12);
  border-radius: 5px;
  color: rgb(88, 86, 86);
  font-size: 20px;
  margin-right: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease,
  color 0.3s ease;

  &:hover {
    background-color: #10f4eb;
    color: #1B365C;
  }

  &:active {
    background-color: #028982;
  }
}

.link-button-block {
  display: inline-block;
}

.login-btn:disabled, .confirm-btn:disabled {
  background-color: rgba(221, 221, 221, 0.41);
  color: rgba(221, 221, 221, 0.41);
  cursor: not-allowed;
}


