.auth {
  font-size: 20px;
}

.link-button-block {
  display: flex;
  min-width: 170px;
  justify-content: space-around;
  margin-bottom: 5px;
}

.login-btn:disabled, .confirm-btn:disabled {
  cursor: not-allowed;

  &:after {
    transform: scaleX(0);
  }

}


