app-todo-list {
  display: flex;
  column-gap: 2%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.input-task {
  padding-right: 10px;
  box-shadow: 0 0 0 1px rgba(34, 60, 80, 0.2);
  margin-bottom: 20px;
  border-radius: 4px;
}

.main-content {
  padding-right: 9vw;
}

.left-btn-block {
  margin-left: 190px;
}

.task-button-block, .list-filter-block {
  position: fixed;
  top: 100px;
  bottom: 0;
  min-width: 100px;
}

.task-button-block {
  left: 0;

}

.list-filter-block {
  right: 0;
}
