header, app-todo-list, main {
  display: flex;
}

main {
  justify-content: flex-start;
}

header {
  margin-bottom: 20px;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
}

app-todo-list {
  flex-wrap: wrap;
  align-items: flex-start;
  flex-basis: 90%;
}


app-task-button {
  flex-basis: 10%;
  margin-right: 10%;
}

