<div class="profile-block">
  <header>
    <h1>
      MY TODO
    </h1>
    <button (click)="doLogOut()" class="log-out global-btn underlineHover">
      Log Out
    </button>
  </header>
  <app-input (outEnterTask)="addTask($event.taskDescription, $event.taskTime, $event.listNumber)"
             [selectedListNumber]="selectedListNum"></app-input>
  <main>
    <app-task-button></app-task-button>
    <app-todo-list (listSelected)="selectedListNum = $event"></app-todo-list>
    <app-list-filter></app-list-filter>
  </main>
</div>
