main {
  padding: 100px 1rem 2rem;
  margin: 0 20px;
}

header {
  width: 100%;
  position: fixed;
  display: flex;
  color: #f0e7e7;
  height: 80px;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
  background-color: #1B365C;
}

app-todo-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-basis: 90%;
  justify-content: center;
}

.main-content {
  padding-right: 9vw;
}

.left-btn-block {
  margin-left: 190px;
}

.task-button-block, .list-filter-block {
  position: fixed;
  top: 100px;
  bottom: 0;
  min-width: 100px;
}

.task-button-block {
  left: 0;

}

.list-filter-block {
  right: 0;
}

.underlineHover {
  color: #aba9a9;

  &:hover {
    color: #ffffff;
  }
}

.profile-block {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

footer {
  background-color: #1B365C;
  color: #f0e7e7;
  padding: 20px;
  text-align: center;
}

.title {
  padding-left: 20px;
  margin-right: 10px;
}

.log-out {
  padding-left: 20px;
}

.input-task {
  flex-grow: 1;
  padding-right: 20px;
}
