app-todo-list {
  display: flex;
  column-gap: 2%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.input-task {
  padding: 0 10px 0 10px;
  box-shadow: 0 2px 0 3px rgba(34, 60, 80, 0.2);
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: white;
  z-index: 2;
  position: sticky;
  top: 80px;
}

.main-content {
  min-height: 100vh;
  position: relative;
}

.left-btn-block {
  margin-left: 10vw;
}

.task-button {
  position: fixed;
  top: 100px;
  bottom: 0;
  min-width: 100px;
}

.task-button {
  left: 0;
  max-height: 213px;
}

@media (max-width: 1600px) {
  .left-btn-block {
    margin-left: 0;
  }

  .task-button {
    background-color: gray;
    min-width: 0;
    display: none;
    overflow: hidden;
  }
}

@media (max-width: 400px) {
  .input-task {
    top: 50px;
  }
}
