<div class="left-btn-block">

  <main class="main-content">
    <div class="task-button">
      <app-list-left-btn></app-list-left-btn>
    </div>
    <div class="input-task">
      <app-input-task (outEnterTask)="addTask($event.taskDescription, $event.taskTime, $event.listNumber)"
                      [selectedListNumber]="selectedListNum">
      </app-input-task>
    </div>
    <div class="list-filter">
      <app-list-filter (listFilterChange)="handleListFilterChange($event)"></app-list-filter>
    </div>
    <app-todo-list (listSelected)="selectedListNum = $event"
                   [listFilterValue]="listFilterValue"></app-todo-list>
  </main>

</div>
