.sign-up-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  transform: scale(1.5);


  .sign-up-element{
    margin-bottom: 5px;
    padding: 10px;
    max-width: 500px;

  }

  .sign-up {
    font-size: 17pt;
  }
}
