/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Georgia", Georgia, serif;
  letter-spacing: -0.6px;
  word-spacing: -1.2px
}

body {
  min-height: 100vh;
}

.global-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  transition: all .1s linear;

  &:after {
    content: '';
    display: block;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.global-input {
  font-size: 15px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in;
  border-radius: 4px;
  outline: none;
  min-height: 30px;
  padding-left: 3px;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    transition: border-color 0.3s ease-out;
  }

  &:focus {
    border: 1px solid black;
  }

}
