/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Georgia", Georgia, serif;
  letter-spacing: -0.6px;
  word-spacing: -1.2px;
  box-sizing: border-box;


}

html, body {
  min-height: 100vh;
}

.global-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .1s linear;

}

.global-input {
  font-size: 15px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  transition: border-color 0.3s ease-in;
  border-radius: 4px;
  outline: none;
  min-height: 30px;
  padding-left: 3px;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.86);
    transition: border-color 0.3s ease-out;
  }

  &:focus {
    border: 1px solid black;
  }

}


.underlineHover {
  color: rgba(110, 110, 110, 0.62);

  &:after {
    display: block;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width .5s;
  }

  &:hover {
    color: #0d0d0d;

    &:after {
      width: 100%;
    }
  }
}
