<p>Number of tasks: {{ allTasks.length }}</p>
<p>Completed: {{ getCompletedTasksPercent() | number: '1.1-1' }}%</p>

<div class="list-block drag-drop-list  drop-task-block">
  <ng-container *ngIf="allTasks.length > 0; else noTasks">
    <li *ngFor="let task of allTasks; let i = index"
        class="task-box-li li-drag-box">
      <p>LIST {{ task.isTaskInListNumber }}</p>
      <app-task (isTaskComplete)="completeTask($event)"
                (isTaskEdit)="editTaskInfo($event)"
                (isTaskSave)="saveTaskInfo($event)"
                (taskRemove)="removeTask($event)"
                [task]="task"></app-task>
    </li>
  </ng-container>
  <ng-template #noTasks>
    <p>No tasks found.</p>
  </ng-template>
</div>
